/*Fan-Ning Cheng*/

@import url('defaults.css');
body {
	background-color: #BE81F7;
	border: 1px solid;
	margin: 30px;
}


header h1{
	color:#000000;
	font-family: Futura,Verdana;
	font-size: 2em;
	position: absolute;
	margin: 0 auto;
	display: block;
	text-align: center;
	}

header nav{
	position: relative;
	display: block;
	width:100%;
	margin: 0 auto;
	float: left;
text-align: center;
margin-top: 80px;
}


/*h2 {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #acd1b2;
}*/

/*a:visited{
color: #084B8A;
} */

nav a{
	display:inline-block;
	position: relative;
	margin: auto;
	width: 100%;
	background-color: #FFFFFF;
	border-radius: 10px;
	padding-bottom: 2px;
	clear: left;
	border-style: solid;
	border-width: 1px
	border-color:#000000;
	
	}
nav:first-child {
margin-top: 50px
}

#left{
	width: 50%;
	float: left;
	 }

#center{
width: 50%;
float:right;

}
.myclass{
	border-style: solid;
	border-radius: 5px;
	border-width: 2px;
}

div p{
column-count:3;
-moz-column-count:3; /* Firefox */
-webkit-column-count:3; /* Safari and Chrome */
}

li {
	list-style-type: upper-roman;
}

img{
	width: 20%;
	height: 20%;
}

@media only screen and (min-width: 1000px) {
	body:after {
img{
	display:none;
	}
	}